.discover {
    width: 100%;
    background-image: url('../src/images/discover_background.png');
    margin-top: 120px;

}

.discover__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.discover__title {
    font-family: $ff-header-bold;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: $c-white;
}

.discover__discription {
    width: 770px;
    font-family: $ff-body;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: $c-white;
}

.discover__nav {
    width: 630px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid rgba(255,255,255,0.25);
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

.discover__nav-dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $c-primary;
}

.discover__nav-item {
    margin-bottom: 0px;
    font-family: $ff-body-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #FF9236;
}