.slider-card {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.slider-card__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 520px;

}

.slider-card__item--downhill {
    background-image: url('../src/images/downhill.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-card__item--valley {
    background-image: url('../src/images/hill.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-card__item--kathmandu {
    background-image: url('../src/images/kathmandu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-card__day-count {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba($color: $c-black, $alpha: 0.5);
    text-align: center;
    font-family: $ff-header-bold;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -2px;
    color: $c-white;
    padding-top: 12px;
    margin-bottom: 0px;
}

.slider-card__day {
    font-family: $ff-body;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 6px;
    color: #FAFAFA;
}

.slider-card__title {
    width: 340px;
    font-family: $ff-body-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.slider-card__line{
    height: 2px;
    width: 60px;
    color: $c-primary;
    background-color: $c-primary;
    margin-bottom: 30px;
}